@model WebApp.Models.Estado.EstadoView

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Estado</h1>
<hr />
<br />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FotoBandeira):
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.FotoBandeira)" style="width:85px; height:85px;border-radius:50%";/>
            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pais.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> | <a asp-action="Index">Listar</a>
</div>
