@model Asp.LinguagensWP.Models.Linguagem

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Linguagem</h1>
<br />

<h3>Você tem certeza que deseja excluir esta Linguagem?</h3>
<div>
    <h4>Linguagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.NomeCompleto)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LinguagemId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Listar</a>
    </form>
</div>
