@model IEnumerable<Asp.LinguagensWP.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Autores</h1>
<br />
<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AutorId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AutorId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AutorId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
